*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  height: 100%; }

body {
  box-sizing: border-box;
  background-color: #0c122c;
  font-family: 'Raleway', sans-serif;
  background-image: url(../../img/bg-desktop.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% auto; }
  @media only screen and (max-width: 37.5em) {
    body {
      background-image: url(../../img/bg-mobile.png);
      background-repeat: no-repeat; } }

/* Works on Firefox */
.main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center; }
  .main .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 92.5rem;
    height: 20.1rem; }
    @media only screen and (min-width: 120em) {
      .main .container {
        margin-bottom: 11rem; } }
    @media only screen and (max-width: 62.5em) {
      .main .container {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 54rem;
        height: 40rem; } }
    @media only screen and (max-width: 25em) {
      .main .container {
        height: 40rem; } }
    .main .container .fylo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      background-color: #1d2c67;
      border-radius: 1rem;
      border-top-right-radius: 10rem;
      width: 35rem;
      height: 20.1rem;
      padding: 4rem;
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2); }
      @media only screen and (max-width: 25em) {
        .main .container .fylo {
          width: 32.5rem;
          height: 20.1rem; } }
      .main .container .fylo__logo {
        height: 4.2rem;
        width: 13.6rem; }
      .main .container .fylo div:not(:last-child) {
        margin-right: 1.5rem; }
      .main .container .fylo__icons {
        display: flex;
        align-items: center; }
        .main .container .fylo__icons .icon {
          background-color: #0c122c;
          width: 4.9rem;
          height: 4.9rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 1rem; }
    .main .container .storage {
      width: 54rem;
      height: 15.4rem;
      background-color: #1d2c67;
      border-radius: 1rem;
      color: #dddbff;
      position: relative;
      padding: 3.8rem; }
      @media only screen and (max-width: 62.5em) {
        .main .container .storage {
          width: 35rem; } }
      @media only screen and (max-width: 25em) {
        .main .container .storage {
          width: 32.5rem;
          height: 16rem; } }
      .main .container .storage__left {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: #ffffff;
        width: 18rem;
        height: 7.15rem;
        top: -4.58rem;
        right: 4rem;
        color: #0c122c;
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        border-radius: 1rem;
        border-bottom-right-radius: 0; }
        .main .container .storage__left::after {
          content: '';
          position: absolute;
          width: 2.3rem;
          height: 2.3rem;
          background-color: #ffffff;
          display: inline-block;
          right: 0;
          bottom: -2.2rem;
          clip-path: polygon(0 0, 100% 0, 100% 100%); }
          @media only screen and (max-width: 62.5em) {
            .main .container .storage__left::after {
              content: '';
              width: 0;
              height: 0; } }
        @media only screen and (max-width: 62.5em) {
          .main .container .storage__left {
            top: 11.87rem;
            right: 8.5rem;
            border-bottom-right-radius: 1rem; } }
        @media only screen and (max-width: 25em) {
          .main .container .storage__left {
            top: 12.38rem;
            right: 7.25rem; } }
        .main .container .storage__left .left {
          font-size: 1.3rem;
          text-transform: uppercase;
          margin-left: 1rem;
          color: #848794; }
      .main .container .storage__text {
        font-size: 1.3rem;
        letter-spacing: 1px;
        font-weight: 400;
        line-height: 1; }
        .main .container .storage__text .used {
          font-weight: 700;
          font-size: 1.35rem; }
      .main .container .storage__slider {
        background-color: rgba(12, 18, 44, 0.4);
        width: 45.5rem;
        height: 2.1rem;
        border-radius: 10rem;
        margin-top: 1.6rem;
        display: inline-flex;
        align-items: center; }
        @media only screen and (max-width: 62.5em) {
          .main .container .storage__slider {
            width: 27.2rem; } }
        .main .container .storage__slider .slider__bar {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 81.5%;
          height: 1.5rem;
          margin-left: 3px;
          border-radius: 10rem;
          background-image: linear-gradient(to right, #ffa399, #ff4d97); }
          .main .container .storage__slider .slider__bar .slider__circle {
            background-color: #ffffff;
            border-radius: 50%;
            height: 1.1rem;
            width: 1.1rem;
            margin-right: 2px; }
      .main .container .storage__indicator {
        display: flex;
        justify-content: space-between;
        line-height: 1;
        font-size: 1.3rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 1rem; }
